.navbar{
    height: 3rem;
    border-bottom: 2px solid gray;
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    }
    *{
        margin: 0;
        padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
    }
    .navbar ul{
        display: flex;
        justify-content: center;
    align-items: center;
    }
    .navbar ul li{
        margin: 1rem;
        list-style: none;
        cursor: pointer;
        
    }
    .navbar ul li:hover a{
        background-color: rgb(62, 62, 62);
    }
    .navbar ul li a{
        text-decoration: none;
        background-color: gray;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
    
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        height: 93vh;
    }
    .aside{
        width: 18rem;
        height:100% ;
        position: relative;
        left: -16rem;
        transition: all ease 0.3s;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: center;
        margin:0 5px;
        margin-right: 20px;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        padding:3px 11px;
        /* background-color: rgb(208, 208, 208); */
        margin: 6px 7px;
        /* margin-top: 5px; */
        border-radius: 10px;
        /* border: 2px solid gray; */
        background-color: #dededeb1;
    
        
    }
    .menu h1{
        font-size: 18px;
        color: rgb(79, 78, 78);
    }
    .cross-btn{
        cursor: pointer;
        /* position: absolute; */
        /* border: 1.5px solid; */
        /* padding: 4px; */
        /* top: 0.6rem; */
        background-color: rgb(29, 198, 136);
        color: #fff;
        /* left: 14rem; */
        display: flex;
        align-items: center;
        border-radius: 3px;
        padding: 1px;
    
        
    }
    .input_field{
         margin: 1rem;
         height: 1.6rem;
         width: 15rem;
    }
    
    .open-btn{
      position: absolute;
      top: 4.3rem;
      left: 1rem;
      /* border: 1.5px solid gray; */
      border-radius: 5px;
      background-color: rgb(228, 228, 228);
      padding:10px;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    .list_container{
        display: flex;
    
    }
    .save_ul{
        padding: 0.4rem 0;
    }
    .save_ul li{
        list-style-type: none;
        border: 1px solid greenyellow;
        margin: 0.7rem 0;
        height: 2rem;
        padding:0 1rem;   
        padding-top: 6px; 
        box-sizing: border-box;
        cursor: pointer;
        transition: all ease 0.4s ;
       font-size: 1.2rem;
    }
    .save_ul li:hover{
        background-color: rgb(100, 196, 100);
        color: #fff;
     
    }
    .practice{
        border: 2px solid gray;
        border-top: none;
        border-right: none;
        border-bottom: none;
        width: 90%;
        padding: 2rem;
        box-sizing: border-box;
        margin-top: 10px;
    }
    .practice h1{
    padding-left: 15px;
    text-transform: capitalize;
    
    }
    .prac_ul{
        padding: 0.5rem;
    }
    
    .prac_ul li{
        list-style-type: none;
        border: 1px solid rgb(90, 231, 29);
        margin: 0.6rem;
        height: 2rem;
        padding:0 1rem;    
        cursor: pointer;
        width: 25rem;
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
    }
    .prac_ul li::before{
       content: '+';
       text-align: center;
       /* border: 1px solid; */
       box-sizing: border-box;
       padding-top: 3px;
       width: 2rem;
       height: 2rem;
       position: absolute;
       right: 0;
       font-size:1.3rem;
       font-weight: 600;
       background-color: rgb(151, 255, 151);
    }
    .prac_ul li:hover::before{
        color: #fff;
        background-color: rgb(13, 216, 13);
    }
    .clear_btn{
        /* width:2rem; */
        background-color: rgb(250, 36, 82);
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        margin: 5px;
        display: flex;
        align-items: center;
        font-size: 15px;
        justify-content: center;
        border:2px solid red;
        /* height: 2rem; */
        padding: 3px 1px;
    
    }
    .clear_btn svg{
        height: 15px;
        stroke-width: 3px;
        color: rgb(255, 255, 255);
    }
    .add_btn{
        /* width: 4rem; */
        /* height: 2rem; */
        cursor: pointer;
        border: 2px solid rgb(145, 230, 17);
        border-radius: 5px;
        font-weight: 700;
        padding: 3px 4px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(151, 255, 151);
    
        
        
    }
    .add_btn:hover{
        background-color: rgb(13, 216, 13);
    }
    .add_btn:hover svg{
       color: rgb(255, 255, 255)
    }
    .add_btn svg{
        color: rgb(47, 47, 47);
    }
    .data-input{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .data-input input{
        padding: 4px 5px;
        border: 2px solid rgba(128, 128, 128, 0.689);
        border-radius:5px ;
        font-size: 15px;
        height: 35px;
    }
    .bookm{
       border: 2px solid rgb(153, 153, 153);
        /* box-shadow:-2px 3px 5px  rgba(0,0,0,0.5) ; */
        height: 90%;
        border-radius: 10px;
        overflow:auto ;
        margin: 0.3rem 0.5rem;
    
    }
    .bookmark{
        font-size: 22px;
    }
    ::-webkit-scrollbar{
        background-color: rgb(189, 244, 189);
        width: 1rem;
    }
    ::-webkit-scrollbar-thumb{
      background-color: rgb(50, 147, 50);
      border: 5px solid transparent;
      border-radius: 1rem;
      background-clip: content-box;
    }
    
    
    .bookmark_ul{
    
        height: 20rem;
    }
    .bookmark_ul li svg{
        height: 15px;
        align-self: top;
        position: absolute;
        top: 3px;
        left: 0;
    }
    .bookmark_ul li{
        border-bottom: 1px solid gray;
        min-height: 1.7rem;
        margin: 0.3rem;
        padding: 0 0.3rem;
        list-style-type: none;
        display: flex;
     align-items: flex-start;
     position: relative;
     gap: 5px;
     /* justify-content: center; */
    }
    
    /* ------popup------- */
    .pop-container{
        display: flex;
    
    }
    .pop-box{
        position: absolute;
        width: 18rem;
        height: 2rem;
        z-index: 10;
        left:-21rem;
        margin: 0.1rem 0.5rem;
        transition: all ease 0.4s;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        background-color: rgb(181, 255, 111);
        color: #ff6868;
    }
    .pop-box::after{
        content: '';
        width: 100%;
        box-sizing: border-box;
        height: 0.2rem;
        position: absolute;
        background-color: red;
        left: 0;
        bottom: 0;
        transform:var(--scaler,scale(1,1));;
        transform-origin:0% 100% ;
        transition: all 2.5s ease;
    }
    